In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab06.ipynb")

<img src="https://github.com/data-6-berkeley/materials-fa24/blob/main/hw/hw03/data6.png?raw=true" style="width: 15%; float: right; padding: 1%; margin-right: 2%;"/>

# Lab 6 â€“ Data Visualization

## Data 6 Visualizations Module
So far, we have discussed methods to interpret the data, but what if we want to present our data in a visual format? In this lab, you'll learn several important table methods for producing data visualizations. **Visualizations** are some of the most powerful tools in data science; they're helpful for showing data to people who don't necessarily have a background in data science, and allow data scientists like yourselves to help others understand the data in a more intuitive way.


As data scientists, it is not only our job to be able to implement various visualization methods, but also to know *when* to use each method. As we build our toolkit of visualization techniques going forward, it's important to understand the **advantages and disadvantages of each visualization type.**

In [ ]:
# Run this cell to load all required Python libraries
import numpy as np
from datascience import *

import matplotlib.pyplot as plt
plt.style.use("ggplot")
%matplotlib inline

<div class="alert alert-warning">
Something important to note before we begin is that the <code>salary</code> dataset that we'll be using today, which includes information on jobholders and their salaries, came from <a href=https://www.kaggle.com/datasets/mohithsairamreddy/salary-data/data>Kaggle</a> and was supposedly combined from multiple surveys, job postings, and other public sources. However, the Kaggle source does not provide any of the original sources that the data was taken from, so we have no idea how reliable or real this data is. It's okay to use data like this for the sake of practice, but when doing so, it is important to remember that the conclusions you can make become much less reliable and trustworthy. When looking to use data that can make an impact, be sure to thoroughly research where your data is coming from and how it was collected. Keep this fact in mind as you're going through the lab!
</div>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Part 1: Data Visualization Methods for One Variable

<div class="alert alert-warning">
As stated in the introduction, this dataset contains information on jobholders and their salaries, so we'll be using it today to visualize some of the relationships between various characteristics of a jobholder and their salaries. For example, what sort of relationship might we see between an individual's gender and their salary? Is there a correlation between an individual's education level or years of experience and their salary? These are interesting starting questions to dive into exploration of the data, but remember what we said in the introduction: we aren't sure of the reliability of this data, so if we wanted to make concrete conclusions, we would need to check our results against more reliable sources. <br> <br>

In this first part of the lab, we'll be looking at some methods for visualizing one variable, whether it's numeric or qualitative.
</div>

<div class="alert alert-warning">
Let's begin by loading in the original <code>Salary_Data.csv</code> file. This data required a lot of cleaning and manipulating behind the scenes in order to produce the visualizations in the lab, so be sure to keep that in mind: a lot of the time, you'll need to put work into preparing your data for analysis and visualization (thank you to Atticus and Edwin from Summer 2024). Since some of the methods are out-of-scope for this course, we've done the cleaning for you beforehand.
</div>

In [ ]:
salary = Table.read_table("Salary_data.csv")
salary.show(5)
np.unique(salary.column('Job Title'))

### Contextualizing the Data
As data scientists, it's important to take a look at the data we're working with to understand the information we have available to us. Take some time to look at our `salary` table and try to understand what information we have.

<div class="alert alert-warning">
One of the concepts we discussed in lecture was the <strong>unit of analysis</strong>, which comes from sociology. We defined it as essentially the entity that we are studying, which can range from the micro level (such as an individual) to the macro level (such as a nation). When first looking into our data, the level of the unit of analysis within our dataset is always important to consider.
</div>

<!-- BEGIN QUESTION -->

### Question 1.1 (Discussion)
What information does our table tell us? Additionally, what does each record (i.e. row) represent? In other words, what is the unit of analysis of our dataset?

This table tells us about an individual's age, gender, education level, job title, years of experience, and salary. Unit of analysis are employees individuals that live in India. Each row represents one person.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 1.2 (Discussion)
Are there any features (columns) of the data that may affect one another? What patterns can we learn from this data?

Age can affect the years of experience (or be correlated to one another). Years of experience could affect compensation level.

<!-- END QUESTION -->

<div class="alert alert-warning">
Because we expect some of the features to affect one another, this is another reason that we have to take our findings with a grain of salt: in some cases, there might appear to be a relationship among variables related to salary, but it may simply just because these variables are not independent of each other.
</div>

---
### **The [barh](http://data8.org/datascience/_autosummary/datascience.tables.Table.barh.html#datascience.tables.Table.barh) method**

The `barh` (horizontal bar chart) method is used to visualize **categorical** variable values. Categorical variables are non-numbers, like names and qualities (Color, Gender, Name etc.). As we saw in lecture, categorical variables come in 2 different types: *ordinal* and *nominal*. 

The `barh` method takes in 1 mandatory argument, which is the **name of the column** you want on the left (vertical) axis of your `barh` plot. There are also optional arguments that have to do with plotting -- you'll see examples of those in this lab and in the homework. The remaining optional arguments in the `datascience` documentation linked above can also be used, feel free to try out some of the others on your own!

**Important note:** To use the `barh` method properly, we first need to select the columns we want to see in the graph. We should not call `barh` directly on a large `Table` because without specifying a column, we get a bar graph for every single instance of every single variable, which you can imagine results in a lot of bar graphs. Therefore, in the cell below and throughout the lab **we utilize more advanced table functions for aggregating the data to make visualization easier.** Most of these functions are out of scope for this lab or this course. Just focus on the methods and functions for creating the visualizations throughout the lab!

<div class="alert alert-warning">
In the context of our exploration of what factors impact salary, this visualization method (as well as <code>hist</code>, the next method we look at) will be very helpful in better understanding the breakdown of features that we're interested in, such as education level and gender, within the dataset.
</div>

In [ ]:
gender = salary.group("Gender")
gender


Since the `gender` table only has two columns, we can plot it with `barh`. The plot below results in one bar for each gender category, corresponding to the number of rows in the table with that value.

In [ ]:
gender.plot("count", "count", title = "HI")

Next, we can try to create the same graph to visualize education levels!

In [ ]:
education = salary.group("Education Level")
updated_bachelors = education.with_row(["Bachelor's", 756 + 2265])
updated_bachelors = updated_bachelors.take(np.arange(2, updated_bachelors.num_rows))
updated_bachelors

We see above that there are different values that actually mean the same thing ("Bachelor's" vs "Bachelor's Degree", etc.). To make sure all of the value names are consistent, we will load a fully cleaned version of the salary data into a table called `clean_salary`. We will then proceed to use this cleaned version for the rest of our table and visualization operations.

In [ ]:
clean_salary = Table.read_table("clean_data.csv")
clean_salary

Now, if we group our data by `"Education Level"` you will see much more consistent values.

In [ ]:
education = clean_salary.group("Education Level").take(make_array(1, 0, 2, 3))
education

<!-- BEGIN QUESTION -->

### Question 1.3
Following the example of the `gender` bar chart above, plot a horizontal bar chart that shows the counts of each category from the `"Education Level"` column.

*Hint*: Use the `education` table.

In [ ]:
education.barh("Education Level")

<!-- END QUESTION -->

### Multiple Columns

We can also use `barh` to see multiple statistics at once. Let's use the `barh` method to see the average number of both *age* and *years of experience* for each eduction level. We'll be using the following columns:
1. `"Years of Experience"`: The average years of experience of the employees with that education level
2. `"Age"`: The average age of the employees with that education level

Run the following cell to load an aggregated version of the dataset that contains the average statistics for each education level.

In [ ]:
education_averages = clean_salary.group("Education Level", np.mean).drop("Gender mean", "Job Title mean")
education_averages

To look at *only* years of experience and age average for each education level, we need to select the `"Education Level"`, `"Years of Experience Average"`, and `"Age Average"` columns. We will discuss this method in the next lab, so don't worry if it doesn't make sense for now.

In [ ]:
age_experience = education_averages.select("Education Level", "Years of Experience mean", "Age mean").take(make_array(1, 0, 2, 3))
age_experience

Run the following cell to show an example of how to create an **overlaid bar chart** with two statistics.

In [ ]:
age_experience.barh("Education Level", overlay = True)

If we want different visualizations for each variable, we can set the optional `overlay` argument to `False`. The default value of `overlay` is `True`, so if you don't give it a value, you will get a plot with all the included variables at once.

In [ ]:
age_experience.barh("Education Level", overlay = False)

This way, we can choose if we want to create one plot with all our information or a new plot for each piece of information!

### Where `barh` fails

The `barh` method works well on categorical variables, but what if we have a **numerical** variable that we want to see the distribution of? Let's see what happens if we try to use `barh` on a numerical variable (`"Salary"`) instead of a categorical variable:

In [ ]:
clean_salary.group('Salary')

In [ ]:
clean_salary.group("Salary").where('Salary', are.above(190000)).barh("Salary")

As you can see, this bar plot is not particularly helpful. There are many categories that seem to not have any corresponding bar. Yet, that isn't the case! Seeing the breakdown of `"Salary"` does not provide us with any useful information, and it is also difficult to read or understand. Instead, for numerical variables, we have another visualization method that helps us visualize a numerical variable's distribution: **histograms**.

---
### **The [hist](http://data8.org/datascience/_autosummary/datascience.tables.Table.hist.html#datascience.tables.Table.hist) method**

The `hist` method allows us to see the distribution of a numerical variable. `hist` takes in 1 mandatory argument and has several optional arguments (feel free to look through the documentation and explore these optional arguments as before). **Remember: categorical variables should be visualized using `barh`, and numerical variables should be visualized using `hist`.**

Let's take a look at the distribution of salaries among people to see how the `hist` method helps visualize numerical variables. We'll use the `clean_salary` table to create this histogram.

In [ ]:
# This plot shows the distribution of salaries among employees
my_bins = np.arange(0, 300000, 10000)
clean_salary.hist("Salary", density = False, bins = my_bins)

This shows us that most people have a salary between around 50,000 and 190,000. But there are also many people whose salaries are not in this range, due to how we specified the bins.

<!-- BEGIN QUESTION -->

### Question 1.4
Fill in the following code cell to produce a histogram representing the **distribution of years of experience** for employees.

*Note*: Set the optional `bins` argument of the `hist` method to `my_bins`. We've provided this variable for you.

In [ ]:
my_bins = np.arange(0, 35, 3)
clean_salary.hist("Years of Experience", density = True, bins = my_bins)

<!-- END QUESTION -->

### Bachelor's Degree vs. Master's Degree

Next, we'll explore a functionality of histograms that allows us to compare the salaries of bachelor's degree holders vs. those of master's holders. We can use `hist` on a `Table` with the rows for just these two education levels and use the optional `group` argument.

*Note*: You'll see how `are.contained_in` works with the `where` method in the next lab. For now, think of it as finding any rows corresponding to *either* `"Bachelor's Degree"` or `"Master's Degree"`.

In [ ]:
# Just run this cell to create the `bachelor_master` table
bachelor_master = clean_salary.where("Education Level", are.contained_in(["Bachelor's Degree", "Master's Degree"]))
bachelor_master.show(5)

<!-- BEGIN QUESTION -->

### Question 1.5
Now that we've created our `bachelor_master` table, fill in the following code cell to produce a histogram representing the ***distribution of salary*** for *both* people with a bachelor's degree and people with a master's degree.

*Hint*: Take a look at the optional `group` argument in the documentation.

*Note*: Set the optional `bins` argument of the `hist` method to `my_bins`.

In [ ]:
# This plot shows the distribution of salary for people with a bachelor's degree AND master's degree
my_bins = np.arange(0, 300000, 20000)
bachelor_master.hist("Salary", density = False, bins = my_bins, group="Education Level")

<!-- END QUESTION -->

It appears that salary for those with a **master's degree** is higher, on average, than those with a bachelor's degree. The plot above shows the master's degree salary to be shifted to the right of the bachelor's degree salary. We can also take a look at a subset of the `education_averages` table from earlier to find the same information numerically:

In [ ]:
# Makes a table with education level and salary average from our `education_averages` table
salary_average = education_averages.select("Education Level", "Salary mean")
salary_average

Above, we created a basic `salary_average` table that gives us the average salary of each education level. Using this table, we can access the rows that correspond to the bachelor's degree salary average and the master's degree salary average.

In [ ]:
bachelors_avg = salary_average.where("Education Level", "Bachelor's Degree")
masters_avg = salary_average.where("Education Level", "Master's Degree")

In [ ]:
print(f"Bachelor's Degree salary average:\t{bachelors_avg.column('Salary mean')[0]}")
print(f"Master's Degree salary average:\t{masters_avg.column('Salary mean')[0]}")

As we can see, the conclusion we reached from the bar chart appeared to line up with the information from the table operations. This is a benefit of visualization: information can be learned about the dataset with just visual observation. It is always beneficial to back your claims about data with concrete facts about the dataset, but **visualizations can help abstract away some of the confusion of looking at raw data** so that non-data-scientists can better understand what is going on.

### Bachelor's Degree vs. PhD

Next, we'll explore a similar breakdown: comparing the salaries of bachelor's degree holders to those of PhD holders.

In [ ]:
# Just run this cell
bachelors = clean_salary.select("Education Level", "Salary").where("Education Level", "Bachelor's Degree")
phd = clean_salary.select("Education Level", "Salary").where("Education Level", "PhD")
print(f"People with a Bachelor's education level in cleaned dataset: {bachelors.num_rows}")
print(f"People with a PhD education level in cleaned dataset: {phd.num_rows}")

From the cell above, you should see a big discrepancy in the number of individuals in the dataset with a bachelor's degree vs. a PhD. We want to keep this in mind, as this large difference in sample sizes could potentially affect our analyses. To get an idea of what the range of salaries looks like for these two education levels, we plot them individually below:

In [ ]:
# This plot shows the distribution of salary for those with a bachelor's degree
my_bins = np.arange(0, 180000, 10000)
bachelors.hist("Salary", bins = my_bins)

In [ ]:
# This plot shows the distribution of salary for those with a PhD
my_bins = np.arange(0, 300000, 10000)
phd.hist("Salary",  bins = my_bins)

On these plots individually, we see a very different distribution for the salaries. Below, we'll visualize them together as we did with the bachelor's vs. master's comparison:

In [ ]:
# Just run this cell -- this creates a table of the salaries of people with a PhD or Bachelor's Degree
bachelor_phd = clean_salary.select("Education Level", "Salary").where("Education Level", are.contained_in(["Bachelor's Degree", "PhD"]))
bachelor_phd.show(5)

<!-- BEGIN QUESTION -->

### Question 1.6
Using the code in **Question 1.5** as reference, produce a histogram showing the distribution of salary for people with a *PhD* and people with a *bachelor's degree*. What do you notice about this plot?

In [ ]:
# This plot shows the distribution of salary for people with a bachelor's degree AND master's degree
my_bins = np.arange(0, 300000, 20000)
bachelor_phd.hist("Salary", density = True, bins = my_bins, group="Education Level")

<!-- END QUESTION -->

<div class="alert alert-warning">
Here is where we could have arrived at some unreliable conclusions: for all the histograms in this lab so far, we've been taking a look at the density plots of these histograms, in which the y-axis is displayed in percent per unit rather than simply count. Let's take a look at what the plot could have looked like, if we were choosing to make count plots for our histograms instead:
</div>

In [ ]:
my_bins = np.arange(0, 180000, 10000)
bachelor_phd.hist("Salary", density = False, group = "Education Level", bins = my_bins)

<div class="alert alert-warning">
When we make use of the <code>density = False</code> argument, we see that the y-axis plots the counts of individuals instead. As we discovered earlier, the sample sizes of the bachelor's holders vs. PhD holders in this dataset are quite different, and so it's difficult to draw any reliable conclusions from the plot above. When using histograms to visualize data in the future, pay attention to whether a density distribution or a count distribution makes the most sense and is the most reliable for drawing conclusions!
</div>

---
## Done! ðŸ˜‡

---

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)